@import "~@angular/material/theming";

$primaryPalette: mat-palette($mat-light-blue);
$accentPalette:  mat-palette($mat-amber, A200, A100, A400);

// the default warn palette is red, so use that if the theme doesn't define one
$warnPalette:    mat-palette($mat-red);

// re-define the indigo-pink theme
$myDefaultTheme: mat-light-theme($primaryPalette, $accentPalette, $warnPalette);

$primary: mat-color($primaryPalette);
$accent: mat-color($accentPalette);
$warn: mat-color($warnPalette);
