.wrapper {
    div {
        padding: 8px;
    }

    padding: .75rem;
    @media only screen and (min-width: 1200px) {
        padding: .75rem 4.5rem;
    }
}

.config-save {
    padding: 0 !important;
    button {
        margin-left: .75rem;
    }
    ::ng-deep .mat-form-field-wrapper {
        margin: 0 !important;
        padding: 0 !important;
    }
}

.stations-tree {

    max-height: 350px;
    overflow-y: auto;

    margin: -16px;

    user-select: none;

    .country {
        position: relative;

        mat-checkbox {
            position: absolute;
            right: 24px;
            top: 17px;
        }
    }

    mat-list-option .name {
        margin-left: 27px;  
    }

    .mat-icon {
        transition: transform .1s;
    }

    .name {
        text-transform: capitalize;
    }
}