.wrapper {
    div {
        padding: 8px;
    }

    padding: .75rem;
    @media only screen and (min-width: 1200px) {
        padding: .75rem 4.5rem;
    }
}

.config-save {
    padding: 0 !important;
    button {
        
        &:not(.small) {
            mat-icon {
                vertical-align: text-bottom;
            }
            margin-left: .75rem;
            font-size: 17px;
            vertical-align: middle;

        }
        &.small {
            margin-top: .75rem;
            mat-icon {
                vertical-align: middle;
            }
        }
    }
    ::ng-deep .mat-form-field-wrapper {
        margin: 0 !important;
        padding: 0 !important;
    }
}

.flag {
    height: 24px;
    vertical-align: middle;
    border-radius: 3px;
    margin-right: .75rem;
    border: 2px solid #e6e6e6;
}

.stations-tree {

    max-height: 350px;
    overflow-y: auto;

    margin: -16px;

    user-select: none;

    .country {
        position: relative;

        mat-checkbox {
            position: absolute;
            right: 24px;
            top: 17px;
        }
    }

    mat-list-option .name {
        margin-left: 27px;  
    }

    .mat-icon {
        transition: transform .1s;
    }

}
::ng-deep .name {
    text-transform: capitalize;
}

.section {
    .label {
        position: absolute;
        top: -15px;
        background: white;
        color: grey;
        padding: 4px;
        left: 5px;
    }
    border: solid 1.5px lightgray;
    border-radius: 6px;
    padding: 16px 8px 8px !important;
    position: relative;
    margin: 4px;
    box-sizing: border-box;
    mat-form-field {
        width: 100%;

        &.disabled {
            pointer-events: none;
            opacity: .5;
        }
    }
    &.time {
        height: 181px;
    }
}
