
  <div class="wrapper" fxLayout="row wrap">

      <h1 class="mat-h1" fxFlex="100%">
          Export
      </h1>
  
      <div fxFlex.gt-sm="50%" fxFlex.gt-md="33%" fxFlex="100%">
          <mat-card>
            hoi
          </mat-card>
      </div>

      <div fxFlex.gt-sm="50%" fxFlex.gt-md="33%" fxFlex="100%">
          <mat-card>
            hoi
          </mat-card>
      </div>

      <div fxFlex.gt-sm="50%" fxFlex.gt-md="33%" fxFlex="100%">
          <mat-card>
            hoi
          </mat-card>
      </div>
      
  </div>
