<div class="wrapper" fxLayout="row wrap">

    <div fxFlex.gt-sm="50%" fxFlex.gt-md="33%" fxFlex="100%">
        <mat-card>
            <h1 class="mat-h1">Stations</h1>

            {{selectedStationIds.length}}
            {{selectedStationIds.length == 1 ? 'station' :
            'stations'}} selected.

            <br>

            <mat-form-field appearance="outline" [style.width]="'100%'">
                <mat-label>Search for places</mat-label>
                <input matInput placeholder="e.g. Moscow or Iran" [(ngModel)]="searchInput">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>

            <div class="stations-tree">


                <div *ngFor="let country of countries"
                    class="country">

                    <button mat-icon-button color="primary"
                        (click)="expanded[country] = !expanded[country]">

                        <mat-icon [style.transform]="expanded[country] ? 'rotate(90deg)' : ''">
                            keyboard_arrow_right
                        </mat-icon>
                    </button>

                    <span class="name">
                        {{country.toLowerCase()}}
                    </span>

                    <mat-checkbox [indeterminate]="countrySelected(country) == 1"
                        [checked]="countrySelected(country) == 2"
                        (change)="countrySelect(country, $event.checked)">
                    </mat-checkbox>

                    <mat-selection-list *ngIf="expanded[country]"
                        (selectionChange)="selectionChange($event.option)">
                        <mat-list-option *ngFor="let st of stationsByCountry(country)"
                            [value]="st.id" [selected]="selectedStationIds.indexOf(st.id) != -1">

                            <span class="name">
                                {{st.name.toLowerCase()}}
                            </span>
                        </mat-list-option>
                    </mat-selection-list>
                </div>
            </div>

        </mat-card>
    </div>

    <div fxFlex.gt-sm="50%" fxFlex.gt-md="33%" fxFlex="100%">
        <mat-card>
            <h1 class="mat-h1">Time period</h1>
        </mat-card>
    </div>

    <div fxFlex.gt-sm="50%" fxFlex.gt-md="33%" fxFlex="100%">
        <mat-card>
        </mat-card>
    </div>

</div>