<mat-toolbar color="primary">
    <mat-toolbar-row class="first-row">
        
        <h1 style="color: black">Logo</h1>

    </mat-toolbar-row>

    <mat-toolbar-row class="second-row" [ngClass]="atTop ? '' : 'mat-elevation-z3'">
        <span>Second Row</span>
    </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>


hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>hoi<br>