<mat-toolbar color="primary">
    <mat-toolbar-row class="first-row">

        <img src="/assets/logo.png" style="height: 77px; filter: hue-rotate(7deg);">

    </mat-toolbar-row>

    <mat-toolbar-row class="second-row" [ngClass]="atTop ? '' : 'mat-elevation-z6'">

        <nav mat-tab-nav-bar backgroundColor="primary">
            <a mat-tab-link *ngFor="let link of links"
                [routerLink]="link.path" routerLinkActive
                #rla="routerLinkActive" [active]="rla.isActive"
                [routerLinkActiveOptions]="{exact: link.exact}">
                {{link.label}}
            </a>
        </nav>
    </mat-toolbar-row>
</mat-toolbar>

<app-exports></app-exports>

<router-outlet></router-outlet>