@import "../../../../variables.scss";

.map {
    ::ng-deep .marker {
        border-radius: 100px;
        background: $primary;
        border: solid 4px white;
    }
    z-index: 0;
    height: 160px;
    border-top-left-radius: 4px;
    pointer-events: none !important;
    ::ng-deep * {
        pointer-events: none !important;
    }
    
    border-top-right-radius: 4px;
}